In [60]:
#import Pandas

import pandas as pd

# creating dataframe

df = pd.read_csv("E:/DATA/PYTHON DATASETS/Airbnb_Open_Data.csv")

#print the dataframe
df

C:\Users\DELL1\AppData\Local\Temp\ipykernel_14180\2473300208.py:7: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("E:/DATA/PYTHON DATASETS/Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [5]:
# now apply groupby() function
# group the data on review rate number

gk = df.groupby('review rate number')

In [61]:
# selecting rows based on condition 
rslt_df = df.loc[df["review rate number"] == 5] 
    
print('\nResult dataframe :\n')

print(len(df), len(rslt_df))

Result dataframe :

102599 23369

In [62]:
flt_no_rows = len(rslt_df)

totl_no_rows = len(df)

avg = ( flt_no_rows / totl_no_rows) * 100

print(int(avg), "%")

22 %

In [77]:
#cost

rslt_df["price"] = rslt_df["price"].replace("[$,]", "", regex=True).astype(int)

sum_cost = rslt_df['price'].sum()

avg = ( sum_cost / flt_no_rows)

C:\Users\DELL1\AppData\Local\Temp\ipykernel_14180\3447313173.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df["price"] = rslt_df["price"].replace("[$,]", "", regex=True).astype(int)

In [80]:
print(avg)

619.9051307287432

In [89]:
# cancellation policy and availability 365


# Import pandas package
from tkinter.tix import COLUMN
import pandas as pd

# creating a dataframe
data = df = pd.read_csv("E:/DATA/PYTHON DATASETS/Airbnb_Open_Data.csv")

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select two columns
column = df[['cancellation_policy', 'availability 365']]

C:\Users\DELL1\AppData\Local\Temp\ipykernel_14180\870286972.py:9: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = df = pd.read_csv("E:/DATA/PYTHON DATASETS/Airbnb_Open_Data.csv")

In [95]:
# Pivot table

# Create a simple dataframe

# importing pandas as pd

import pandas as pd
import numpy as np

# Simplest pivot table must have a dataframe
# and an index/list of index.
print(column)
table = pd.pivot_table(column, index =['cancellation_policy', 'availability 365'],  columns =['availability 365'])

table

       cancellation_policy  availability 365
0                   strict             286.0
1                 moderate             228.0
2                 flexible             352.0
3                 moderate             322.0
4                 moderate             289.0
...                    ...               ...
102594            flexible             227.0
102595            moderate             395.0
102596            moderate             342.0
102597              strict             386.0
102598            flexible              69.0

[102599 rows x 2 columns]

Empty DataFrame
Columns: []
Index: [(flexible, -10.0), (flexible, -9.0), (flexible, -8.0), (flexible, -7.0), (flexible, -6.0), (flexible, -5.0), (flexible, -4.0), (flexible, -3.0), (flexible, -2.0), (flexible, -1.0), (flexible, 0.0), (flexible, 1.0), (flexible, 2.0), (flexible, 3.0), (flexible, 4.0), (flexible, 5.0), (flexible, 6.0), (flexible, 7.0), (flexible, 8.0), (flexible, 9.0), (flexible, 10.0), (flexible, 11.0), (flexible, 12.0), (flexible, 13.0), (flexible, 14.0), (flexible, 15.0), (flexible, 16.0), (flexible, 17.0), (flexible, 18.0), (flexible, 19.0), (flexible, 20.0), (flexible, 21.0), (flexible, 22.0), (flexible, 23.0), (flexible, 24.0), (flexible, 25.0), (flexible, 26.0), (flexible, 27.0), (flexible, 28.0), (flexible, 29.0), (flexible, 30.0), (flexible, 31.0), (flexible, 32.0), (flexible, 33.0), (flexible, 34.0), (flexible, 35.0), (flexible, 36.0), (flexible, 37.0), (flexible, 38.0), (flexible, 39.0), (flexible, 40.0), (flexible, 41.0), (flexible, 42.0), (flexible, 43.0), (flexible, 44.0), (flexible, 45.0), (flexible, 46.0), (flexible, 47.0), (flexible, 48.0), (flexible, 49.0), (flexible, 50.0), (flexible, 51.0), (flexible, 52.0), (flexible, 53.0), (flexible, 54.0), (flexible, 55.0), (flexible, 56.0), (flexible, 57.0), (flexible, 58.0), (flexible, 59.0), (flexible, 60.0), (flexible, 61.0), (flexible, 62.0), (flexible, 63.0), (flexible, 64.0), (flexible, 65.0), (flexible, 66.0), (flexible, 67.0), (flexible, 68.0), (flexible, 69.0), (flexible, 70.0), (flexible, 71.0), (flexible, 72.0), (flexible, 73.0), (flexible, 74.0), (flexible, 75.0), (flexible, 76.0), (flexible, 77.0), (flexible, 78.0), (flexible, 79.0), (flexible, 80.0), (flexible, 81.0), (flexible, 82.0), (flexible, 83.0), (flexible, 84.0), (flexible, 85.0), (flexible, 86.0), (flexible, 87.0), (flexible, 88.0), (flexible, 89.0), ...]

[1312 rows x 0 columns]

In [96]:
type(table)

pandas.core.frame.DataFrame